.tradingButton{
    width: 40%;
    height: 80px;
    margin: 10px;
}
.tradingBox{
    background-color: rgba(209, 250, 225, 0.62);
    text-align: center;
    position: relative;
    font-size: 16px;
    padding: 4rem 2rem;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1200px) {
    .tradingimage {
        display: none !important;
    }
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 150%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.scenario{
    position: relative;
    text-align: center;
    color: #fff;
    padding: 7px 20px;
    margin: 10px 10px !important;
    line-height: 1.9;

}

.tradingdata{
    width:35%;
}

.if-wrong{
    background: #dd9897;
}

.if-right{
    background: #bed896;
}